@model ShopOganicAPI.Models.PaymentMenthod

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h4>PaymentMenthod</h4>
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item" href="#">Quản lý hệ thống</span>
            <a class="breadcrumb-item active" href="#">Quản lý thanh toán</a>
        </nav>
    </div>
</div>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMenthodID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentMenthodID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMenthodName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentMenthodName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Status)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model.PaymentMenthodID" class="btn btn-info m-r-5">Edit</a>
    <a asp-action="PaymentMenthod">Back to List</a>
</div>