@model IEnumerable<ShopOganicAPI.Models.ShipMenthod>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShipMenthodID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingMenthodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ShipMenthodID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ShipMenthodID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ShipMenthodID })
            </td>
        </tr>
}
    </tbody>
</table>
