@model ShopOganicAPI.Models.Role

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Role</h4>
    <hr />
    <dl asp-area="Admin" asp-controller="RolesAdmin" class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
@*    <a asp-action="Edit" asp-route-id="@Model.RoleID">Edit</a> |
*@    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

