@model IEnumerable<ShopOganicAPI.Models.Role>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>Role</h4>
<div class="page-header">
	<div class="header-sub-title">
		<nav class="breadcrumb breadcrumb-dash">
			<a asp-area="Admin" asp-controller="Home" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
			<span class="breadcrumb-item" href="#">Quản lý hệ thống</span>
			<a class="breadcrumb-item active" href="#">Quản lý tài khoản</a>
		</nav>
	</div>
</div>
<div class="row m-b-30">
	<div class="col-lg text-right">
		<a class="btn btn-primary" asp-area="Admin" asp-controller="RolesAdmin" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm mới</span></a>
	</div>

</div>
<table class="table">
	<thead>
		<tr style="background-color:aquamarine">
			<th>
				@Html.DisplayNameFor(model => model.RoleCode)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.RoleName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.RoleCode)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.RoleName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.RoleID" class="btn btn-info m-r-5">Edit</a>
					<a asp-action="Details" asp-route-id="@item.RoleID" class="btn btn-warning m-r-5">Details</a>
					<a asp-action="Delete" asp-route-id="@item.RoleID" class="btn btn-danger m-r-5" onclick="return confirm('Xác nhận xóa Voucher này?');" )>Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>


