
@model IEnumerable<ShopOganicAPI.Models.Account>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    
</p>
<table  class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th>
                @Html.DisplayName("Picture")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
           
            <th>
                @Html.DisplayName("Active")
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
               
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
                <td>
                    <img src="/images/@item.ImageUrl" height="100px"></img>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            
                <td>
                    <a asp-action="Change" asp-route-id="@item.AccountID" class="btn btn-info m-r-5" onclick="return confirm('Xác nhận thay đổi này?');">Status</a>|
                    <a asp-action="Edit" asp-route-id="@item.AccountID" class="btn btn-info m-r-5">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AccountID" class="btn btn-warning m-r-5">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AccountID" class="btn btn-danger m-r-5" onclick="return confirm('Xác nhận xóa Account này?');" )>Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>



